<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tangl.music.server.modules.system.menu.mapper.TMusicMenuMapper">

    <resultMap id="baseResultMap" type="com.tangl.music.server.modules.system.menu.entity.TMusicMenu">
        <result property="menuId" column="menu_id" jdbcType="BIGINT"/>
        <result property="menuName" column="menu_name" jdbcType="VARCHAR"/>
        <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
        <result property="path" column="path" jdbcType="VARCHAR"/>
        <result property="component" column="component" jdbcType="VARCHAR"/>
        <result property="permission" column="permission" jdbcType="VARCHAR"/>
        <result property="menuType" column="menu_type" jdbcType="TINYINT"/>
        <result property="icon" column="icon" jdbcType="VARCHAR"/>
        <result property="orderNum" column="order_num" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="createBy" column="create_by" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="delFlag" column="del_flag" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="baseColumnList">
        select menu_id,
               menu_name,
               parent_id,
               path,
               component,
               permission,
               menu_type,
               status,
               icon,
               order_num,
               create_by,
               create_time,
               update_by,
               update_time,
               del_flag
        from t_music_menu
    </sql>

    <!-- 更新菜单信息 -->
    <update id="updateMenu">
        update t_music_menu
        <set>
            <if test="menuName != null and menuName != ''">
                menu_name = #{menuName},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId},
            </if>
            <if test="path != null and path != ''">
                path = #{path},
            </if>
            <if test="component != null and component != ''">
                component = #{component},
            </if>
            <if test="permission != null and permission != ''">
                permission = #{permission},
            </if>
            <if test="menuType != null">
                menu_type = #{menuType},
            </if>
            <if test="icon != null and icon != ''">
                icon = #{icon},
            </if>
            <if test="orderNum != null">
                order_num = #{orderNum},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag},
            </if>
        </set>
        where menu_id = #{menuId}
    </update>

    <!-- 根据条件统计总行数 -->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from t_music_menu
        where del_flag = 0
        <if test="menuName != null and menuName != ''">
            and menu_name like concat('%', #{menuName})
        </if>
        <if test="status != null">
            and status = #{status}
        </if>

    </select>

    <!-- 分页条件查询 -->
    <select id="queryPage" resultMap="baseResultMap">
        <include refid="baseColumnList"/>
        where del_flag = 0
        <if test="params.menuName != null and params.menuName != ''">
            and menu_name like concat('%', #{params.menuName})
        </if>
        <if test="params.status != null">
            and status = #{params.status}
        </if>
        limit #{offset}, #{pageSize}
    </select>
</mapper>
