<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tangl.music.server.modules.system.role.mapper.TMusicRoleMapper">

    <resultMap id="baseResultMap" type="com.tangl.music.server.modules.system.role.entity.TMusicRole">
        <result property="roleId" column="role_id" jdbcType="BIGINT"/>
        <result property="roleName" column="role_name" jdbcType="VARCHAR"/>
        <result property="roleKey" column="role_key" jdbcType="VARCHAR"/>
        <result property="orderNum" column="order_num" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="createBy" column="create_by" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="delFlag" column="del_flag" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="baseColumnList">
        select role_id,
               role_name,
               role_key,
               order_num,
               status,
               create_by,
               create_time,
               update_by,
               update_time,
               del_flag
        from t_music_role
    </sql>

    <!-- 更新角色信息 -->
    <update id="updateRole">
        update t_music_role
        <set>
            <if test="roleName != null and roleName != ''">
                role_name = #{roleName},
            </if>
            <if test="roleKey != null and roleKey != ''">
                role_key = #{roleKey},
            </if>
            <if test="orderNum != null">
                order_num = #{orderNum},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag},
            </if>
        </set>
        where role_id = #{roleId}
    </update>

    <!-- 根据条件统计总行数 -->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from t_music_role
        where del_flag = 0
        <if test="roleName != null and roleName != ''">
            and role_name like concat('%', #{roleName})
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
        <if test="createBy != null">
            and create_by = #{createBy}
        </if>
    </select>

    <!-- 分页条件查询 -->
    <select id="queryPage" resultMap="baseResultMap">
        <include refid="baseColumnList"/>
        where del_flag = 0
        <if test="params.roleName != null and params.roleName != ''">
            and role_name like concat('%', #{params.roleName})
        </if>
        <if test="params.status != null">
            and status = #{params.status}
        </if>
        <if test="params.createBy != null">
            and create_by = #{params.createBy}
        </if>
        limit #{offset}, #{pageSize}
    </select>

    <!-- 根据角色ID查询 -->
    <select id="queryByIdList" resultMap="baseResultMap">
        <include refid="baseColumnList"/>
        where del_flag = 0
        <if test="roleIdList != null">
            and role_id in
            <foreach collection="roleIdList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
    </select>
</mapper>
